.main {
    margin: 30px 50px;
}

.pageTitle,
.header {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 20px 0;
    z-index: 1000;
}

.pageTitle {
    margin: 15px 0px;
}

.headerGrp {
    display: flex;
}

.topTxt {
    font-size: 13px !important;
    color: var(--textLight);
}
.textGrp {
    margin: 0px 15px;
}

.bottomTxt > p {
    font-weight: var(--w700);
}

.catCta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.catHeader {
    display: grid;
    grid-template-columns: 58% 15% 15% 12%;
    color: var(--secondary);
    margin: 30px 0px 15px 0;
    padding: 5px 15px;
    border-radius: calc(var(--mediumCurve) + 3px);
    font-weight: var(--w600);
}
