.main {
  margin: 30px 50px;
}

.pageTitle,
.header {
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 20px 0;
  z-index: 1000;
}

.pageTitle {
  margin: 15px 0px;
}

.headerGrp {
  display: flex;
}

.topTxt {
  font-size: 13px !important;
  color: var(--textLight);
}
.textGrp {
  margin: 0px 15px;
}

.bottomTxt > p {
  font-weight: var(--w700);
}

.orderHeader {
  display: flex;
}

.orderHeader > p {
  margin-right: 15px;
  font-size: var(--font16);
  font-weight: var(--w600);
}

.orderHeader > p > span {
  padding: 5px 10px;
  border-radius: 40%;
  margin: 0px 8px;
}
