.linkButton{
    background-color: var(--primary);
    width: 100%;
    transition: all ease 0.2s;
    padding: 8px 10px;
    font-family: var(--font);
    color: var(--white);
    border-radius: 6px;
}

.button{
    background-color: var(--primary);
    width: 100%;
    transition: all ease 0.2s;
    padding: 10px 0;
    font-family: var(--font);
    color: var(--white);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* border: 2px solid var(--primary); */
}

.active{
    background-color: #e8edeb;
    /* border: 2px solid rgb(193, 199, 198); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 9px; */
}

.leftIconButton{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftIconButton span span{
    position: relative;
    top: 3px;
    margin-right: 5px;
}