/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import "~@flaticon/flaticon-uicons/css/all/all";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

/* @layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
} */

/* html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
} */

:root {
  --primary: #005fff;
  --secondary: #0b1032;
  --white: #ffffff;
  --whiteGrey: #9ca3af;
  --borderGrey: #d1d5db63;
  --textLight: #6d717c;
  --lightGrey: #9ca3af;
  --borderColor: rgb(209 213 219);
  --black: #333333;
  --green: rgb(34, 197, 94);
  --lowLightGreen: rgba(34, 197, 94, 0.162);
  --lowLightBlue: #005eff21;
  --red: #ff0066;
  --lowLightRed: #ff006620;
  --toastify-color-success: #005fff !important;
  --lowLightGrey: #f2f1f1;

  --font10: 10px;
  --font13: 13px;
  --font14: 14px;
  --font16: 16px;
  --font18: 18px;
  --font20: 20px;
  --font25: 25px;
  --font30: 30px;
  --font40: 40px;

  /* Font Weight */
  --w100: 100;
  --w200: 200;
  --w300: 300;
  --w400: 400;
  --w500: 500;
  --w600: 600;
  --w700: 700;
  --w800: 800;
  --w900: 900;

  /* border radius */
  --circle: 50px;
  --largeCurve: 10px;
  --mediumCurve: 7px;
  --smallCurve: 5px;

  --font: "Public Sans", sans-serif;
}

body {
  color: #333;
  background: white;
  font-family: "Public Sans", "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

i {
  color: var(--lightGrey);
}

a {
  text-decoration: none;
}

p,
a,
h1,
h2,
h3,
li,
ul,
span,
div {
  -webkit-user-select: none;
}

.react-loading-skeleton {
  height: 100%;
  width: 100%;
}

.chart {
  max-width: 100% !important;
}
