.inputText {
  border-radius: 8px;
  border: 2px solid rgb(209 213 219);
  outline: none;
  width: 100%;
  padding: 8px 10px;
  margin: 6px 0;
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--font16);
  transition: all ease 0.5s;
}

.inputText:focus {
  border: 2px solid var(--primary);
}

.inputPass {
  border-radius: 8px;
  border: 2px solid rgb(209 213 219);
  outline: none;
  width: 100%;
  padding: 8px 10px;
  margin: 6px 0;
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--font16);
  transition: all ease 0.5s;
}

.inputPass:focus {
  border: 2px solid var(--primary);
}

.innerInputClass {
  position: relative;
}

.PasswordInput span {
  cursor: pointer;
  position: absolute;
  top: 53%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.iconInput {
  position: relative;
  /* background: rgba(255, 255, 255, 0.186); */
}

.rightIconInput{
  position: absolute;
  top: 55%;
  right: 2%;
  transform: translate(-50%, -50%);

}

.leftIconInput{
  position: absolute;
  top: 30px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.iconInputField{
  padding-left: 40px;
  padding-right: 35px;
  background: #1a1e3d;
}