.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerMain {
  width: 50%;
  height: 100%;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner {
  background-image: url("https://res.cloudinary.com/dhelycucn/image/upload/v1692522347/assets/login_page_zylygj.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  background-color: #194bfb;
}

.pageHeading {
  font-size: var(--font30);
  font-weight: var(--w600);
}

.primaryColor {
  color: var(--primary);
}

.subHeading {
  color: var(--textLight);
}

.loginInputs {
  width: 50%;
  margin-top: 20px;
}

.input input {
  border-radius: 8px;
  border: 2px solid rgb(209 213 219);
  outline: none;
  width: 100%;
  padding: 8px 10px;
  margin: 6px 0;
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--font16);
  transition: all ease 0.5s;
}

.input input:focus {
  border: 2px solid var(--primary);
}

.input {
  position: relative;
}

.input span {
  cursor: pointer;
  position: absolute;
  top: 53%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.redirectLink {
  width: 100%;
  text-align: right;
  line-height: 1.75rem;
  margin: 10px 0;
}

.link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--w500);
}

.buttonPlace {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 0) and (max-width: 426px) {
  .innerMain {
    width: 100%;
  }
  .loginInputs {
    width: 80%;
  }
}

@media (min-width: 427px) and (max-width: 769px) {
  .innerMain {
    width: 100%;
  }
  .loginInputs {
    width: 50%;
  }
}

@media (min-width: 770px) and (max-width: 1025px) {
  .innerMain {
    width: 100%;
  }
  .loginInputs {
    width: 40%;
  }
}
