.main{
    margin: 30px 50px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.headerbtn{
    width: fit-content;
   
}
.pageTitle{
    margin: 15px 0px;
}

.headerGrp{
    display: flex;
}

.topTxt{
    font-size: 13px !important;
    color: var(--textLight);
}
.textGrp{
    margin:0px 15px;
}

.bottomTxt>p{
    font-weight: var(--w700);
}
.addProduct{
    height:100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .col1{
/* background: yellow; */
    height:100%;
    width:100%;
    padding-right: 20px;
  }
  .col2{

    height: 100%;
    width:100%;
  }
  .prodDes{
    padding: 10px 15px;
    border: 2px solid rgb(209 213 219);
    border-radius: var(--mediumCurve);
    margin-top: 10px;
  }

  .innerProdNameInput{ 
    margin-bottom: 10px;
  }