.main {
  margin: 30px 50px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headerbtn {
  width: fit-content;
}
.pageTitle {
  margin: 15px 0px;
}

.headerGrp {
  display: flex;
}

.topTxt {
  font-size: 13px !important;
  color: var(--textLight);
}
.textGrp {
  margin: 0px 15px;
}

.bottomTxt > p {
  font-weight: var(--w700);
}
.addProduct {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 30px;
}

.col1 {
  /* background: yellow; */
  height: 100%;
  width: 100%;
  padding-right: 20px;
}
.col2 {
  height: 100%;
  width: 100%;
}
.prodDes {
  padding: 10px 15px;
  border: 2px solid var(--borderGrey);
  border-radius: var(--mediumCurve);
  margin-top: 10px;
}

.innerProdNameInput {
  margin-bottom: 10px;
}

.prodCatArea {
  margin-top: 20px;
}
.prodCat {
  padding: 10px 15px;
  border: 2px solid var(--borderGrey);
  border-radius: var(--mediumCurve);
  margin-top: 10px;
}
.innerProdInput {
  margin-bottom: 10px;
}

.inventory {
  margin-top: 20px;
  margin-bottom: 10px;
}

.inventoryinfo {
  padding: 15px 15px;
  border: 2px solid var(--borderGrey);
  border-radius: var(--mediumCurve);
  margin-top: 10px;
  display: grid;
  grid-template-columns: 30% 68%;
  column-gap: 10px;
}

.title {
  font-weight: var(--w600);
}

.plantSize {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
.shippingdelivery {
  padding: 10px 15px;
  border: 2px solid var(--borderGrey);
  border-radius: var(--mediumCurve);
  margin-top: 10px;
  margin-bottom: 20px;
}
.plantSize {
  margin-top: 20px;
}

.pricing {
  padding: 10px 15px;
  border: 2px solid var(--borderGrey);
  border-radius: var(--mediumCurve);
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.callToactions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.callToactions *:nth-child(1) {
  margin-right: 10px;
}

.pageTitle,
.header {
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 20px 0;
  z-index: 1000;
}
