.productName {
  display: flex;
  margin: 15px 30px;
}

.productDetails {
  margin-left: 15px;
}
.productDetails > P {
  margin-bottom: 10px;
}

.img > img {
  border-radius: var(--mediumCurve);
  object-fit: cover;
}
