
.singleCustomerList{
    display: grid;
    grid-template-columns: 30% 30% 25% 15%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px 0px;
    padding: 15px;
    border-radius: calc(var(--mediumCurve) + 3px);
    align-items: center;

}

.genfColor {
    background: var(--lowLightRed);
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    color: var(--red);
    border-radius: var(--smallCurve);
    margin-right: 10px;
  }
.genmColor {
    background: var(--lowLightBlue);
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    color: var(--primary);
    border-radius: var(--smallCurve);
    margin-right: 10px;
  }