.singleCategoryList{
    display: grid;
    grid-template-columns: 58% 15% 15% 12%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px 0px;
    padding: 15px;
    border-radius: calc(var(--mediumCurve) + 3px);
    align-items: center;

}
.active{
    display:flex;
   align-items: center;
}
.deleteOption{
    margin-left: 10px;
}

.catName,.prodCat{
    font-weight: var(--w600);
}
.productStockStatusInner {
    background: var(--lowLightGreen);
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    color: var(--green);
    border-radius: var(--smallCurve);
    margin-right: 10px;
  }
  .lowStock {
    background: var(--lowLightRed) !important;
    color: var(--red) !important;
  }